# URL pública del backend (para enlaces de imágenes/archivos en la API)
API_PUBLIC_URL=http://localhost:8000

# PostgreSQL settings for local development
POSTGRES_DB=pelileo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
